<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

        {% load static %}
        <title>Bless you, my dear</title>
        <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>

        <link rel="stylesheet" href="{% static 'praises/datepicker.min.css' %}">

        <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
        <script type="text/javascript" src="https://momentjs.com/downloads/moment.min.js"></script>
    </head>
    <body>
        {% load socialaccount %}
        {% if user.is_authenticated %}
        <h3 class="ui center aligned header" id="user-header"><a href="{% url 'praises:settings' %}">@ {{user.profile.nickname}} </a></h3>
        <div class="ui section divider"></div>
        {% endif %}

        <h1 class="ui center aligned header">Bless you, my dear</h1>

        {% if photo_exists %}
        <h3 class="ui center aligned header"><img src="{{photo.photo.url}}" >
        {% endif %}

        <h3 class="ui center aligned header">
            <a href="#" id="date-header">{{date}}</a>
            <a href="{% url 'praises:set_photo' date_in_url %}" id="set-photo"> <i class="camera retro icon"></i> </a>
        </h3>

        <div class="ui text container" id="date-picker">
            <div class="ui centered grid">
                <div class="datepicker-div"></div>
            </div>
        </div>

        <div class="ui text container" id="body-div">
            <div class="ui segments">
                {% if praise_list %}
                    {% for praise in praise_list %}
                        <div class="ui segment">
                            <form class="" action="{% url 'praises:delete' praise.id %}" method="post">
                                {% csrf_token %}
                                <i class="heart icon"></i> {{praise.praise_text}}
                                <button type="submit" class="ui right floated circular basic compact icon button"><i class="times icon"></i></button>
                            </form>
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="ui segment">No praise yet. 😂</div>
                {% endif %}

                <div id="new_praise_div" class="ui segment hidden">
                    <form method="post" action="{% url 'praises:new' %}">
                        {% csrf_token %}
                        <i class="heart icon"></i>

                        <div class="ui action input">
                            <input type="text" name="praise_text" size="30" placeholder="What is it?">
                            <input type="hidden" name="date_text" value="{{date_in_url}}">
                            <button type="submit" class="ui button">Add</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>

        <footer>
            <div class="ui container">
                <div class="ui grid">
                    <div class="two column row">
                        <div class="left floated column">
                            <p>Love, stay with me. @ppyap</p>
                        </div>
                        <div class="right floated right aligned column">
                            <a href="https://youtu.be/C31LlZODfr0">:D</a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
        <link rel="stylesheet" href="{% static 'praises/base_style.css' %}" media="screen">

        <style media="screen">
            #date-picker div.ui.centered.grid {
                margin-top: 1em;
                margin-bottom: 2em;
            }
            #date-picker {
                display: none;
            }
            #date-picker .recorded-date {
                font-weight: bold;
            }

            a {
                color: rgba(0,0,0,.87);
            }
        </style>

        <script src="{% static 'praises/datepicker.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'praises/datepicker.ko.js' %}" type="text/javascript"></script>
        <script type="text/javascript">
            var recoredDates = {{ recored_dates|safe }};
            console.log(recoredDates);


            $('.datepicker-div').datepicker({
                language: 'ko',
                dateFormat: 'yyyy mm dd',
                onSelect: function(str, date, instance) {
                    window.location.href = "{% url 'praises:index' %}" + str.replace(/ /gi, "");
                },
                onRenderCell: function (date, cellType) {
                    var currentDate = moment(date).format('YYYYMMDD');
                    console.log(currentDate);
                    // Add extra element, if `eventDates` contains `currentDate`
                    if (cellType == 'day' && recoredDates.indexOf(currentDate) != -1) {
                        return {
                            classes: 'recorded-date'
                        }
                    }
                }
            });

            $('#date-header').click(function() {
                $('#date-picker').toggle();
            });
        </script>
    </body>
</html>
