<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

        {% load static %}
        <title>Satisfaction</title>
        <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>

        <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
    </head>
    <body>
        <h3 class="ui center aligned header" id="user-header"><a href="{% url 'praises:index' %}">@ {{user.profile.nickname}} </a></h3>
        <div class="ui section divider"></div>

        <h1 class="ui center aligned header">{{msg}}</h1>

        <div class="ui text container center aligned" id="body-div">

        </div>

        <footer>
            <div class="ui container"><p>Love, stay with me. @ppyap</p></div>
        </footer>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
        <link rel="stylesheet" href="{% static 'praises/base_style.css' %}" media="screen">
    </body>
</html>
